
<%- include("partials/header"); -%>
    <p id="animatedTitle">Welcome to JK Blogs </p>
    <div class="jumbotron p-3 p-md-5 mb-4 mx-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic"><span class="green">Read</span> and <span class="red">Add</span> new Blog post daily.</h1>
        <p class="lead my-3">You can read the intersting and amazing articles daily and also you can add new blog post on your own.</p>
        <p>Click <a class="plus text-decoration-none" href="/compose">+</a>to add new blog post</p>
      </div>
    </div>
    <div class="row justify-content-evenly">
  <%  posts.forEach(function(post){ %>
    <div class="card col-5 m-2" style="width: 25rem;">
      <img src="<%= post.thumbnailUrl%>" class="card-img-top" alt="Thumbnail">
      <div class="card-body">
        <h5 class="card-title"><%=post.title%></h5>
        <p class="card-text"><%=post.content.substring(0, 200) + " ..."%></p>
        <a href="/posts/<%=post._id%>" class="btn btn-primary">Continue reading</a>
      </div>
    </div>
    <% }) %>
    </div>
<%- include("partials/footer"); -%>


